#include "ProjectVersion"
#include "ProjectWarnings"

ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES
ALWAYS_SEARCH_USER_PATHS = NO
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
CLANG_ENABLE_MODULES = YES
CLANG_ENABLE_OBJC_ARC = YES
COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
ENABLE_TESTABILITY = NO
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = s
MACOSX_DEPLOYMENT_TARGET = 10.12
ONLY_ACTIVE_ARCH = NO
PRODUCT_BUNDLE_IDENTIFIER = com.andela.pushtool
PRODUCT_NAME = PushTool
SWIFT_OPTIMIZATION_LEVEL = -Owholemodule
SWIFT_SWIFT3_OBJC_INFERENCE = Off
SWIFT_VERSION = 4.0
VALIDATE_PRODUCT = YES
